{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h2>Hoş Geldiniz ☕</h2>
    <p>En kaliteli kahveler burada.</p>

    <h3 style="margin-top:30px;">Öne Çıkan Kahveler</h3>

    <div class="card-grid">
        {% for product in products %}
        <div class="card">
            <img src="{{ url_for('static', filename='img/' + product.image) }}">
            <div class="card-body">
                <h3>{{ product.name }}</h3>
                <p class="price">{{ product.price }} ₺</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}










